html {
  box-sizing: border-box;
  font-size: 2rem;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

body {
  background-color: #f2f1ed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.pano {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

h1 {
  font-family: "Patua One", Georgia;
  margin-bottom: 0;
  margin-top: 11rem;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  width: 14rem;
}

ul {
  margin-right: 1rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

a {
  color: #fff;
}

nav {
  grid-column: 2;
  grid-row: 1;
  z-index: 1;
}

main {
  display: contents;
}

h2 {
  font-family: "Patua One", Georgia;
  color: #30658d;
  font-size: .7rem;
  font-weight: normal;
  margin: 0;
}

p {
  margin-top: 0;
  font-size: .55rem;
}

main > figure:last-child {
  grid-column: 2;
}

figure {
  margin: 0;
}
