html {
  box-sizing: border-box;
  font-family: "Patua One", Georgia;
  font-size: 2rem;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

body {
  background-color: #f2f1ed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 12rem 5.2rem 10rem;
}

.pano {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

h1 {
  grid-column: 1 / -1;
  grid-row: 2;
  z-index: 1;
  width: 10rem;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

a {
  color: #fff;
  grid-column: 2;
  grid-row: 1;
  z-index: 1;
}
