html {
  box-sizing: border-box;
  font-family: "Patua One", Georgia;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: grid;
  grid-area:
  "header"
  "main"
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4rem;

}

.banner img {
  grid-column: 1 /-1;
  grid-row: 1 / -1;
}
